@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/iransansx/woff/IRANSansX-Regular.woff') format('woff'),
	url('../fonts/iransansx/woff2/IRANSansX-Regular.woff2') format('woff2');
}
/*@font-face{*/
/*	font-family: Bbadr;*/
/*	src:url(../fonts/BBADR.eot) format('eot'),*/
/*		url(../fonts/BBADR.woff) format('woff'),*/
/*		url(../fonts/BBADR.ttf) format('truetype');*/
/*}*/
/*@font-face{*/
/*	font-family: Bkoodak;*/
/*	src:url(../fonts/BKOODB.eot) format('eot'),*/
/*		url(../fonts/BKOODB.woff) format('woff'),*/
/*		url(../fonts/BKOODB.ttf) format('truetype');*/
/*}*/
/*@font-face{*/
/*	font-family: Btitr;*/
/*	src:url(../fonts/BTITRBD.eot) format('eot'),*/
/*		url(../fonts/BTITRBD.woff) format('woff'),*/
/*		url(../fonts/BTITRBD.ttf) format('truetype');*/
/*}*/
/* converting english numbers to persian numbers */
.ss02 {
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

body {
    font-family: "IRANSansX", serif;
    text-align:right !important;
	direction: rtl;
}
