{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div id="slides">
        <img src="{% static 'img/slider11.jpg' %}" class="current"/>
        <img src="{% static 'img/slider12.jpg' %}"/>
        <img src="{% static 'img/slider13.jpg' %}"/>
    </div>

    {#    <!-- Preloader Start -->#}
    {#    <div class="ShoppingYar-preloader active">#}
    {#        <div class="ShoppingYar-preloader-inner h-100 d-flex align-items-center justify-content-center">#}
    {#            <div class="ShoppingYar-child ShoppingYar-bounce1"></div>#}
    {#            <div class="ShoppingYar-child ShoppingYar-bounce2"></div>#}
    {#            <div class="ShoppingYar-child zuka-bounce3"></div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <!-- Preloader End -->#}

    <!-- Main Wrapper Start -->
{#    <section style=" background: #f5f6fc;#}
{#  margin-bottom: 80px;" class="header">#}
{#        <div style="position: relative;" class="banner">#}
{#            <div style="margin: 80px 115px;#}
{#  width: 60%;" class="banner-img">#}
{#                <img class="bns" style="width: 100%;#}
{#  margin-bottom: -60px; hover ;#}
{#  opacity: 1;" src="{% static 'img/farm.jpg' %}" ALIGN="right"/>#}
{#                <div style=" position: absolute;#}
{#  left: 50%;#}
{#  top: 20%;" class="banner-title">#}
{#                    <h1 style="font-size: 55PX;#}
{#                    background: rgba(0, 0, 0,0.75);#}
{#                    color: #FFF;#}
{#                    line-height: 70px;#}
{#                    padding: 0,0px,0,10px;">#}
{#                        داروخانه</h1>#}
{#                    <h1>دکتر وحدانی</h1>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="fashion-trends">#}
{#        <div class="container">#}
{#            <div class="fashion-box">#}
{#                <div class="title-style text-center">#}
{#                    <h1>Pharmacy Store</h1>#}
{#                </div>#}
{##}
{#                <p class="text-center">#}
{#                 داروخانه دکتر وحدانی#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-12">
                        <div class="title-heading">
                            <h1 class="fw-bold mt-2 mb-3">داروخانه دکتر وحدانی </h1>
                            <p class="para-desc text-muted">محصولات بهداشتی و مراقبت از پوست و مو </p>

                        </div>
                    </div><!--end col-->

                    <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <img style="height: 350px;padding-top: 25px;" src="{% static 'img/pharm.jpg' %}" class="img-fluid d-block mx-auto" alt="کدینگ یار">
                    </div><!--end col-->
                </div><!--end row-->
            </div>


    <div class="wrapper">

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper container-fluid">
            <div class="shop-page-wrapper shop-fullwidth">
                <div class="container">
                    <div class="row mb--50">
                        <div class="col-12">
                            <div class="shop-toolbar">
                                <div class="container row align-items-center">
                                    <div class="col-lg-12 mb-md--50 mb-xs--10">
                                        <div class="shop-toolbar__left d-flex align-items-sm-center align-items-start flex-sm-row flex-column">
                                            <p class="product-pages">نمایش ۱-۲۰ از ۴۹</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid shop-products">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="product-tab-content">
                                <div class="tab-pane fade show active" id="nav-all">
                                    <div class="row xxl-block-grid-6 grid-space-20">
                                        {% for product in products %}
                                            <div class="col-xl-3 col-md-4 col-sm-6 mb--50">
                                                <div class="ShoppingYar-product">
                                                    <div class="product-inner">
                                                        <figure class="product-image">
                                                            <a href="{{ product.get_absolute_url }}">
                                                                {% if product.image %}
                                                                    <img class="shadow" src="{{ product.image.url }}"
                                                                         alt="Products">
                                                                {% endif %}
                                                            </a>
                                                            <div class="ShoppingYar-product-action">
                                                                <div class="product-action d-flex">
                                                                    <a href="wishlist.html" class="action-btn">
                                                                        <i class="flaticon flaticon-like"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <span class="product-badge">تخفیف ویژه</span>
                                                        </figure>
                                                        <div class="product-info">
                                                            <h3 class="product-title h6 mb--15">
                                                                <a style="text-decoration: none; font-family: 'B Badr'; font-size: 20px;"
                                                                   href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                                            </h3>
                                                            <div class="product-price-wrapper mb--30">
                                                                <span class="money text-success">{{ product.price }}تومان</span>
                                                                <span class="price-separator">-</span>
                                                                <span class="money old-price text-danger">۲۱0۰,۰۰۰ تومان</span>

                                                            </div>
                                                            <form action="{% url 'cart_add' product.id %}"
                                                                  method="post">
                                                                {% csrf_token %}

                                                                <div class="quantity-wrapper">

                                                                    <input type="hidden" class="quantity-input"
                                                                           name="quantity" id="qty"
                                                                           value="30"
                                                                           min="1">

                                                                    <button style="font-size:15px;font-family:Bkoodak;"
                                                                            type="submit"
                                                                            class="btn btn-small btn-bg-red  btn-color-white btn-hover-2"
                                                                    >
                                                                        اضافه به سبد خرید
                                                                    </button>
                                                                </div>
                                                            </form>
                                                            {#                                                                <a style="font-size: 15px; " href="cart.html"#}
                                                            {#                                                                   class="btn btn-small btn-bg-sand btn-color-dark px-3">اضافه#}
                                                            {#                                                                    کردن به سبد خرید</a>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <nav class="pagination-wrap mt--35 mt-md--25 pb-5">
                                <ul class="pagination">
                                    {% if page_obj.has_next %}
                                        <li><a style=" font-family: Bkoodak; text-decoration: none;"
                                               href="?page={{ page_obj.next_page_number }}"
                                               class="next page-number"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    {% endif %}
                                    <li><span class="current page-number">{{ page_obj.number }}</span></li>

                                    {% if page_obj.has_previous %}

                                        <li><a style="padding-right: 20px;"
                                               href="?page={{ page_obj.previous_page_number }}"
                                               class="prev page-number"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                    {% endif %}



                                    {#                                    <li><a href="#" class="page-number">2</a></li>#}
                                    {#                                    <li><a href="#" class="page-number">3</a></li>#}


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

        {#        <!-- Footer Start-->#}
        {#        <footer class="footer">#}
        {#            <div class="footer-top bg-color ptb--50" data-bg-color="#f6f6f6">#}
        {#                <div class="container">#}
        {#                    <div class="row justify-content-center">#}
        {#                        <div class="col-lg-9 text-center">#}
        {#                            <div class="footer-widget mb--50">#}
        {#                                <div class="textwidget">#}
        {#                                    <img src="assets/img/codingyar_logo.png" alt="Logo">#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="footer-widget mb--50 pb--1">#}
        {#                                <ul class="footer-menu">#}
        {#                                    <li><a href="">درباره ما</a></li>#}
        {#                                    <li><a href="">قوانین و مقررات</a></li>#}
        {#                                    <li><a href="">تماس با ما</a></li>#}
        {#                                </ul>#}
        {#                            </div>#}
        {#                            <div class="footer-widget">#}
        {#                                Codingyar.com © | all rights reserved#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </footer>#}
        {#        <!-- Footer End-->#}

        <!-- Search form Popup Start -->
        <div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
            <div class="searchform__body">
                <p>در باکس زیر عبارت خود را وارد کنید</p>
                <form class="searchform">
                    <input type="text" name="popup-search" id="popup-search" class="searchform__input"
                           placeholder="جستجو در بین محصولات...">
                    <button type="submit" class="searchform__submit"><i
                            class="flaticon flaticon-magnifying-glass-icon"></i></button>
                </form>
            </div>
        </div>
        <!-- Search form Popup End -->

        <!-- Mini Cart Start -->
        {% include 'cart/cart_slidebar.html' %}
        <!-- Mini Cart End -->

        <!-- Global Overlay Start -->
        <div class="ShoppingYar-global-overlay"></div>
        <!-- Global Overlay End -->

    </div>
    <!-- Main Wrapper End -->


    <!-- ************************* JS Files ************************* -->

    <!-- jQuery JS -->
    <script src="{% static 'js/vendor.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>



{% endblock %}